<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
	<meta name=viewport content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1'>
    <link href="stylesheets/stylesheet.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	<script src="javascripts/Submit.js"></script>
    <title>Roles by tpkelly</title>
  </head>

  <body ng-app="roles">
    <div id="container" ng-controller="SubmitController">
      <div class="inner vertical-centered" id="name" ng-class="formClass">
		<form role="form" ng-submit="submitName()" novalidate>
			<div class="form-group">
				<label for="badge-name">Enter your Badge name:</label>
				<input class="form-control"
				       type="text"
					   ng-model="badgename"
					   name="badge-name"
					   required
					   autocapitalize="sentences"
					   autocomplete="off">
			    </input>
			</div>
			<input class="btn btn-primary" type="submit" value="Submit"></input>
		</form>
	  </div>
	  <div class="inner vertical-centered" id="waiting" ng-class="waitingClass">
		<div ng-if="role === null">
		  <h3>Hi, {{badgename}}</h3>
		  
		  <p>Waiting for game to start...</p>
		</div>
        <div ng-if="role != null ">
		  <p>You are the...</p>
		  <h2>{{role}}</h2>
		</div>
		<div ng-if="role === undefined">
			<h3>Thanks for playing!</h3>
		</div>
	  </div>
    </div>
  </body>
</html>
