@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');

html, body, #container {
	height: 100%;
}

.vertical-centered {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.inner {
  width: 200px;
  left: 50%;
  position: absolute;
}

.inner > * {
	transform: translateX(-50%);
}

input[type="submit"] {
  width: 100%
}

.ng-invalid input[type="submit"] {
  opacity: 0.5;
}

.animate-hidden {
  transform: translateX(-200%);
  opacity: 0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.initially-hidden {
  transform: translateX(200%);
  opacity: 0;
}

.visible {
  transform: translateX(0%);
  opacity: 1;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
