@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');

html, body, #container {
  height: 100%;
}

.vertical-centered {
  position: relative;
  top: 40%;
}

.inner {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}


input[type="submit"] {
  width: 100%
}

.ng-invalid input[type="submit"] {
  opacity: 0.5;
}

.animate-hidden {
  top: 0%;
  opacity: 0;
  height: 0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.initially-hidden {
  top: 80%;
  opacity: 0;
  height: 0;
}

.visible {
  top: 40%;
  opacity: 1;
  height: 80px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
