@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');

html, body, #container {
	height: 100%;
}

.vertical-centered {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.inner {
  width: 200px;
  margin: auto;
}

input[type="submit"] {
  width: 100%
}